body {
    
    background-color:hsl(212, 45%, 89%);
    display:flex;
    justify-content: center;
    text-align: center;
}

.card {
    background: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    margin-top: 150px;
    padding: 16px;
    border-radius: 20px;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    margin-top: 15px;
}

p {
    font-weight: 400;
    font-size: 15px;
}